.is-current {
 		background-color: black;
 		color: white;
	}

@font-face {
  font-family: 'Copse-Regular';
  src: url('Copse-Regular.eot');
  src: url('Copse-Regular.eot?#iefix') format('embedded-opentype'),
       url('Copse-Regular.woff') format('woff'),
       url('Copse-Regular.ttf') format('truetype'),
       url('Copse-Regular.svg#Copse-Regular') format('svg');
}


.button {
	float: right;
  font: bold 11px 'Copse-Regular', serif;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 4px 8px 4px 8px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
}

.grid-container {
  display: grid;
  
  grid-template-columns: 550px 350px ;
  grid-gap: 10px;
  
  padding-left: 30px;
}

article {
	padding-right: 30px;
	border-right: 1px solid
}

aside {
	padding-left: 30px;
}

body {
max-width: 900px;
padding-left: 170px;
background: -webkit-linear-gradient(left, rgba(212,212,212,1) 0%, rgba(204,204,204,1) 27%, rgba(194,194,194,1) 51%, rgba(237,237,237,1) 100%);
font-family: 'Lato', sans-serif;
letter-spacing: 0.3mm;
line-height: 30px;

}


footer {
 padding-left: 30px;
}


.pic {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
height: 150px;
    width: 25%;
	border: 2px solid black;
}

.wrap {
    margin-bottom: 80px;
	margin-top: 40px;
	
}
h1 {
	font-family: 'Copse-Regular', serif;
	
}

h2, h3 {
	border-bottom: 1px outset; 
	font-family: 'Copse-Regular', serif;
}