.is-current {
 		background-color: black;
 		color: white;
	}

.button {
	float: right;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 3px 8px 3px 8px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
}

article, aside , footer {
	grid-column: 1 / 3;
	
}


body {
max-width: 1000px;

}

