.is-current {
 		background-color: black;
 		color: white;
	}



.button {
	float: right;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 3px 8px 3px 8px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC;
}

.grid-container {
  display: grid;
  
  grid-template-columns: 550px 350px ;
  grid-gap: 10px;
  
  padding-left: 30px;
}

article {
	padding-right: 30px;
	border-right: 1px solid
}

aside {
	padding-left: 30px;
}

body {
max-width: 1000px;
padding-left: 170px;
background: -webkit-linear-gradient(left, rgba(212,212,212,1) 0%, rgba(204,204,204,1) 27%, rgba(194,194,194,1) 51%, rgba(237,237,237,1) 100%);

}


footer {
 padding-left: 30px;
}

